
root { 
    display: block;
    
  background-color: #ccffff;
}
.prerequisite {

  font-family: 'Times New Roman',Times,serif;
  font-size: 12pt;
  background-color: #ccffcc;
  margin-left: 4px;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-top-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-right-color: silver;
  border-left-color: silver;
  border-bottom-color: silver;
  border-top-color: silver;
  color: #666666;
}
